#!/bin/bash

ARTBIT_UPDATE_TARGET_PATH="{{ artbit_core_path }}"
ARTBIT_UPDATE_REPO_BRANCH="{{ artbit_core_repo_branch }}"

# check if ARTBIT_UPDATE_TARGET_PATH exists
if ! [ -d "${ARTBIT_UPDATE_TARGET_PATH}" ]; then
    mkdir -p "${ARTBIT_UPDATE_TARGET_PATH}"
fi

# Change directory to ARTBIT_UPDATE_TARGET_PATH
cd "${ARTBIT_UPDATE_TARGET_PATH}" || exit 1

# Fetch latest changes
git fetch origin

# Check if there are any changes in the remote repository
if ! git diff --quiet "origin/${ARTBIT_UPDATE_REPO_BRANCH}"; then
    # Check if the update service is already running
    if systemctl is-active --quiet ansible_pull.service; then
        # Restart the service
        systemctl restart ansible_pull.service
    else
        # Start the service
        systemctl start ansible_pull.service
    fi
fi
